<nav>
    <ul>
        <li><a href="{{ path('index') }}">{{ 'homepage'|trans }}</a></li>
        <li><a href="{{ path('roster.index') }}">{{ 'roster'|trans }}</a></li>
        <li><a href="{{ path('partner') }}">{{ 'partners'|trans }}</a></li>
        <li><a href="{{ path('about') }}">{{ 'about-us'|trans }}</a></li>
    </ul>
</nav>